* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containar {
    width: 100%;
    display: flex;
    flex-direction: column;
    

}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    size: 20px;
    background-color: black;

}

header .logo {
    width: 30%;

}

header .logo img {
    width: 100%;


}

header .ul {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 30px;




}

header .ul li {
    list-style: none;
    padding: 15px;
    color: white;
    background-color: brown;
    transition: 0.4s;


}

header .sign {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header .sign span {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: 0.4s;
    color: white;
    background-color: brown;
    left: 20px;
}

header .sign span:hover {
    background-color: crimson;
    color: #ffff;
    border: none;
}
.container1{
    margin-left: 20px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
  
}
.nav{
    background-color: black;

}
.card{
    width: 20%;
}